{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpg" href="{% static 'testingapp/styles/images/cartlogo.jpg' %}">
    <link rel="stylesheet" href="{% static 'testingapp/styles/home.css' %}">
    <title>Simple Cart Programm</title> 
</head>
<body>
<header id="head">
<nav class="navagation">
<a href="/">
    <span class="logo">

    </span>
</a>
<aside class="pilink">
<a href="">SALES</a>
<a href="">LOCATION</a>
<a href="">ACCOUNT</a>
<a href="">ABOUT US</a>
<a href="">HELP</a>
<a href="">SEARCH</a>
</aside>
</nav>
</header>
<br>

    <section id="main-sect">
        <section class="sect1">
            <aside class="hero-txt">
                <aside class="text">
                    Shop On Spike To Get 30% Discount On Your First Purchase
                    <br>
                    <aside class="moretext">
                        Lorem ipsum dolor sit amet consectetur.
                    </aside>
                    <a href="">
                        <button class="btn1">
                            Shop Now
                        </button>
                    </a>
                </aside>
            </aside>
            <aside class="hero-img">
            </aside>
        </section>
        <br>
        <br>
        <section class="sect2">
           <aside class="img-box"></aside>
        </section>

    </section>

</body>
</html>