{% include 'testingapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'testingapp/styles/phones.css' %}">
    <title></title>
</head>
<body>
    

    <section class="set">
        {% if pro %}
                {% for i in pro %}
                <a href="{{i.get_absolute_url}}" style="text-decoration: none;">
                    <aside class="holder">
                        <aside class="ph">
                            <img class="img" src="{{i.image.url}}" alt="">
                        </aside>
                        <aside class="ss1">
                            {{i.description}}....
                            <br>
                            <br>
                            {{i.currency}}{{i.price}}
                        </aside>
                    </aside>
                </a>
                {% endfor %}
                {% endif %}
    </section>
</body>
</html>